html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: lightblue;
}

#myAnimation {
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(100%);
    }
}

div {
    overflow: hidden;
}
